@using Data
@using Logic

@model List<ProducedPower>

@{
    double totalenergi = 0;
    List<string> Kommuner = new List<string>() { "Aneby", "Tranås", "Nässjö", "Eksjö", "Vetlanda", "Sävsjö", "Värnamo", "Gislaved", "Vaggeryd", "Jönköping", "Habo", "Mullsjö" };
}
<div class="row">
    <div class=" col-sm-2">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style=" background-color:rgb(0, 153, 51)">
                Välj Kommun
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                @foreach (var elem in Kommuner)
                {
                    <li> <a href="/Data/ChooseMunicipality/@elem"> @elem </a>  </li>
                }

            </ul>
        </div>
    </div>
    <div class=" col-sm-7">
        <ul class="nav nav-tabs">
            @if ((string)Session["ChosenACtion"] == "ShowTotalPower")
            {
                <li class="active"><a href="/Data/ShowTotalPower"> Visa totalt </a></li>
            }
            else if ((string)Session["ChosenACtion"] != "ShowTotalPower")
            {
                <li><a href="/Data/ShowTotalPower"> Visa totalt </a></li>
            }
            @if ((string)Session["ChosenACtion"] == "ShowPowerOfPastWeek")
            {
                <li class="active"><a href="/Data/ShowPowerOfPastWeek"> Visa senaste veckan </a></li>
            }
            else if ((string)Session["ChosenACtion"] != "ShowPowerOfPastWeek")
            {
                <li><a href="/Data/ShowPowerOfPastWeek"> Visa senaste veckan </a></li>
            }
            @if ((string)Session["ChosenACtion"] == "ShowPowerOfDay")
            {
                <li class="active"><a href="/Data/ShowPowerOfDay"> Visa senaste dagen </a></li>
            }
            else if ((string)Session["ChosenACtion"] != "ShowPowerOfDay")
            {
                <li><a href="/Data/ShowPowerOfDay"> Visa senaste dagen </a></li>
            }
            @if ((string)Session["ChosenACtion"] == "Recalculate")
            {
                <li class="active"><a href="/Data/Recalculate"> Recalculate </a></li>
            }
            else if ((string)Session["ChosenACtion"] != "Recalculate")
            {
                <li><a href="/Data/Recalculate"> Recalculate </a></li>
            }
        </ul>
        @foreach (var elem in Model)
        {
            totalenergi += elem.Energi;
        }
        @if (Session["kommun"] == null)
        {
            <h3>Jönköpings Län</h3>
        }
        else
        {
            <h3>@((string)Session["kommun"])</h3>
        }
        @if ((string)Session["chosenACtion"] == "ShowTotalPower")
        {
            <h2>Energi genererad totalt:</h2>
        }
        else if ((string)Session["chosenACtion"] == "ShowPowerOfPastWeek")
        {
            <h2>Energi genererad senaste veckan:</h2>
        }
        else if ((string)Session["chosenACtion"] == "ShowPowerOfDay")
        {
            <h2>Energi genererad senaste dagen:</h2>
        }
        else if ((string)Session["chosenACtion"] == "Recalculate")
        {
            <h2>Total energi:</h2>
        }
        @if (totalenergi > 1000000000)
        {
        <h2> @Math.Round(totalenergi / 1000000000,2) GWh </h2>
        }
        else if (totalenergi > 1000000)
        {
        <h2> @Math.Round(totalenergi / 1000000,2) MWh </h2>
        }
        else if (totalenergi > 1000)
        {
        <h2> @Math.Round(totalenergi / 1000,1) kWh </h2>
        }
        else if (totalenergi > 1000)
        {
        < h2 > @Math.Round(totalenergi) Wh </ h2 >
        }
        <br />
        <button data-toggle="collapse" data-target="#info">Hur det fungerar</button>
        <div id="info" class="collapse">
            Effekten är estemerad genom att...
        </div>
    </div>
</div>
